@font-face {
  font-family: "Ubuntu";
  src: url("../../assets/fonts/Ubuntu/ubuntu-light.woff2"),
    url("../../assets/fonts/Ubuntu/ubuntu-light.woff");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url("../../assets/fonts/Ubuntu/ubuntu-regular.woff2"),
    url("../../assets/fonts/Ubuntu/ubuntu-regular.woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url("../../assets/fonts/Ubuntu/ubuntu-medium.woff2"),
    url("../../assets/fonts/Ubuntu/ubuntu-medium.woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../../assets/fonts/Raleway/raleway-regular.woff2"),
    url("../../assets/fonts/Raleway/raleway-regular.woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
