// Fonts
$font-base: "Ubuntu", sans-serif;
$font-accent: "Arkhip", sans-serif;

// Colors
$color-primary: #014034;
$color-secondary: #0f5944;
$color-accent: #8fbfba;
$color-light: #d4dee8;
$color-dark: #040d0c;
