// Map of breakpoints
$breakpoints: (
  st: 320px,
  xs: 360px,
  psw: 412px,
  sm: 480px,
  ms: 640px,
  psh: 732px,
  md: 768px,
  mf: 921px,
  def: 1024px,
  hg: 1150px,
  lg: 1280px,
  xl: 1366px,
  mg: 1440px,
  note: 1536px,
  container: 1610px,
  dt: 1920px,
);

// Fonts
$font-base: "Ubuntu", sans-serif;
$font-accent: "Arkhip", sans-serif;

// Colors
$color-primary: #014034;
$color-primary-light: #127559;
$color-secondary: #8fbfba;
$color-secondary-light: #bbd8d5;
$color-accent: #660254;
$color-accent-light: #7c256c;
$color-accent-extralight: #cf93c4;
$color-accent-bright: #dc3ecc;
$color-light: #f2f7fc;
$color-dark: #040d0c;
$color-black-transparent-1: rgba(0, 0, 0, 0.266);
$color-black-transparent-2: rgba(0, 0, 0, 0.202);
$color-black-transparent-3: rgba(0, 0, 0, 0.618);
