.footer {
  background-color: $color-primary;
  padding: rem(80) 0 rem(100);

  &__text {
    font-size: rem(20);
    font-family: $font-accent;
    text-align: center;
    margin: 0 auto rem(40);
    max-width: 80%;
  }
}

.footer-contacts {
  margin: 0 auto rem(60);
  width: rem(330);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: rem(10);
  @include media(sm) {
    gap: rem(20);
    width: rem(400);
  }

  &__contact {
    flex-basis: calc((100% - rem(40)) / 5);
    border-radius: 50%;
    overflow: hidden;
    background-color: $color-secondary;
    @include media(sm) {
      flex-basis: calc((100% - rem(80)) / 5);
    }
    &:hover > img {
      transform: scale(1.1);
    }
    & > img {
      transition: 0.4s linear;
      background-color: $color-secondary;
      width: 100%;
      height: 100%;
    }
  }
  &__contacts--phone {
    &:hover > img {
      transform: scale(0.9);
    }
    & > img {
      transform: scale(0.8);
    }
  }
  &__contacts--email {
    &:hover > img {
      transform: scale(0.9);
    }
    & > img {
      transform: scale(0.8);
    }
  }
  &__contacts--linkedin {
    &:hover > img {
      transform: scale(1.25);
    }
    & > img {
      transform: scale(1.15);
    }
  }
  &__contacts--github {
    &:hover > img {
      transform: scale(1.32);
    }
    & > img {
      transform: scale(1.22);
    }
  }
}

#signature {
  text-align: center;
  font-weight: 300;
}
#signature-link {
  color: inherit;
  text-decoration: underline;
  text-underline-offset: rem(4);
  transition: color linear 0.3s;
  &:hover {
    color: $color-accent-extralight;
  }
}
