.footer {
  background-color: $color-primary;
  padding: rem(50) 0 rem(60);

  &__text {
    font-size: rem(20);
    font-family: $font-accent;
    text-align: center;
    margin: 0 auto rem(30);
    max-width: 80%;
  }
}

.footer-contacts {
  margin: 0 auto rem(40);
  width: rem(330);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: rem(10);

  @include media(sm) {
    gap: rem(20);
    width: rem(400);
  }
}

#signature {
  text-align: center;
  font-weight: 300;
}

#signature-link {
  color: inherit;
  text-decoration: underline;
  text-underline-offset: rem(4);
  transition: color linear 0.3s;

  &:hover,
  &:focus {
    color: $color-accent-extralight;
  }
}
