.main-info {
  color: $color-primary;
  padding: rem(80) 0 rem(40);
}

.brief-info {
  @media (max-width: 767px) {
    margin-bottom: rem(55);
  }
  @include media(md) {
    width: 50%;
  }
  &__img {
    width: 70%;
    max-width: 400px;
    margin: 0 auto rem(20);
    border-radius: 5px;
  }
  &__name {
    font-size: rem(30);
    margin-bottom: rem(10);
    @include media(sm) {
      font-size: rem(45);
    }
    @include media(md) {
      font-size: rem(30);
      padding: 0 rem(20);
    }
    @include media(hg) {
      font-size: rem(40);
    }
  }
  &__description {
    margin-bottom: rem(30);
    font-size: rem(20);
    @include media(md) {
      padding: 0 rem(20);
    }
  }
}

.skills {
  @include media(md) {
    width: 50%;
    padding: 0 rem(20);
  }
}
.mini-skills {
  margin-bottom: rem(20);
  &__title {
    color: $color-primary-light;
    margin-bottom: rem(10);
    font-size: rem(30);
    @include media(sm) {
      font-size: rem(45);
    }
    @include media(md) {
      font-size: rem(30);
    }
    @include media(hg) {
      font-size: rem(40);
    }
  }
  &__list {
  }
  &__skill {
    display: inline-block;
    background-color: $color-secondary-light;
    margin: rem(3);
    padding: 0 rem(9);
    border-radius: 3px;
    font-size: rem(20);
  }
}

.languages {
  margin-bottom: rem(20);
  &__title {
    color: $color-primary-light;
    margin-bottom: rem(10);
    font-size: rem(30);
    @include media(sm) {
      font-size: rem(45);
    }
    @include media(md) {
      font-size: rem(30);
    }
    @include media(hg) {
      font-size: rem(40);
    }
  }
  &__list {
    list-style: "🌐";
    padding-left: rem(20);
  }
  &__language {
    &:not(:last-child) {
      margin-bottom: rem(5);
    }
  }
  &__name {
    font-size: rem(20);
  }
  &__level {
    font-size: rem(20);
  }
}

.practices {
  &__title {
    color: $color-primary-light;
    margin-bottom: rem(10);
    font-size: rem(30);
    @include media(sm) {
      font-size: rem(45);
    }
    @include media(md) {
      font-size: rem(30);
    }
    @include media(hg) {
      font-size: rem(40);
    }
  }
  &__list {
    list-style: "📍";
    padding-left: rem(20);
  }
  &__practice {
    font-size: rem(20);
    &:not(:last-child) {
      margin-bottom: rem(5);
    }
  }
}
