.project {
  padding: rem(70) 0 rem(90);
  background-color: #f2f7fc;
  &__title {
    color: $color-primary-light;
    font-size: rem(35);
    margin-bottom: rem(8);

    @include media(psw) {
      font-size: rem(45);
    }
    @include media(ms) {
      font-size: rem(55);
    }
    @include media(md) {
      margin-left: rem(40);
      font-size: rem(60);
    }
  }
  &__type {
    border-radius: 3px;
    font-size: rem(27);
    background-color: $color-secondary-light;
    color: $color-primary-light;
    padding: 0 rem(10);
    margin-bottom: rem(45);
    display: inline-block;
    @include media(psw) {
      font-size: rem(30);
    }
    @include media(ms) {
      font-size: rem(35);
    }
    @include media(md) {
      margin-left: rem(40);
      font-size: rem(30);
    }
  }
  &__wrapper {
    margin-bottom: rem(60);
    @include media(md) {
      display: flex;
      align-items: flex-start;
    }
  }
  &__img {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 5px;
    border: 2px solid $color-primary-light;
    @media (max-width: 767px) {
      margin-bottom: rem(45);
    }
    @include media(md) {
      width: 50%;
    }
  }
  &__text {
    color: $color-primary;
    font-size: rem(20);
    @include media(md) {
      padding-left: rem(20);
      width: 60%;
    }
  }
  &__description {
    margin-bottom: rem(15);
  }
  &__works {
    margin-bottom: rem(15);
  }
  &__works-title {
    display: block;
    margin-bottom: rem(5);
  }
  &__works-text {
  }
  &__technologies {
    margin-bottom: rem(15);
  }
  &__technologies-title {
    display: block;
    margin-bottom: rem(5);
  }
  &__technologies-wrapper {
    list-style: "🌿";
    padding-left: rem(30);
  }
  &__technology {
  }
  &__company {
  }
  &__link {
  }
}
