.btn {
  width: rem(280);
  height: rem(80);
  margin: 0 auto;
  border-radius: rem(7);

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: rem(30);
  font-family: $font-base;
  letter-spacing: rem(1.6);
  text-align: center;

  @include media(md) {
    font-size: rem(20);
    width: rem(200);
    height: rem(50);
  }

  @include media(def) {
    font-size: rem(30);
    width: rem(280);
    height: rem(80);
  }

  &--primary {
    background-color: $color-accent;
    color: $color-light;
    transition: background-color linear 0.4s;

    &:hover,
    &:focus {
      background-color: $color-accent-light;
    }
  }

  &--secondary {
    background-color: $color-primary;
    color: $color-light;
    transition: background-color linear 0.4s;

    &:hover,
    &:focus {
      background-color: $color-primary-light;
    }
  }
}

.document .btn,
.contact-form .btn {
  border: none;
  @include media(def) {
    padding: rem(12) 0;
    font-size: rem(20);
    width: rem(200);
    height: rem(50);
  }
}

.menu-button {
  width: 22%;
  aspect-ratio: 1 / 1;
  display: block;
  background-color: transparent;
  border: none;
  padding: 0;

  @include media(psw) {
    width: 15%;
  }
  @include media(ms) {
    width: 10%;
  }
  @include media(md) {
    display: none;
  }
}
