.contact-form {
  max-width: 100%;
  margin: 0 auto;
  background-color: $color-secondary-light;
  border-radius: 5px;
  padding: rem(20) rem(20);
  color: $color-primary;
  @include media(md) {
    max-width: 360px;
    padding: rem(20) rem(45);
  }

  &__input {
    margin: rem(5) 0 rem(15);
    border-radius: 5px;
    height: rem(35);
    width: 100%;
    border: none;
  }
  &__input--textarea {
    margin: rem(5) 0 rem(35);
    border-radius: 5px;
    resize: vertical;
    width: 100%;
    border: none;
  }
}
