.contacts-img-link {
  border-radius: 50%;
  overflow: hidden;
  background-color: $color-secondary;

  &:hover > img,
  &:focus > img {
    transform: scale(1.1);
  }

  & > img {
    transition: 0.4s linear;
    background-color: $color-secondary;
    width: 100%;
    height: 100%;
  }

  &--phone {
    &:hover > img,
    &:focus > img {
      transform: scale(0.9);
    }

    & > img {
      transform: scale(0.8);
    }
  }

  &--email {
    &:hover > img,
    &:focus > img {
      transform: scale(0.9);
    }

    & > img {
      transform: scale(0.8);
    }
  }

  &--linkedin {
    &:hover > img,
    &:focus > img {
      transform: scale(1.3);
    }

    & > img {
      transform: scale(1.2);
    }
  }

  &--github {
    &:hover > img,
    &:focus > img {
      transform: scale(1.32);
    }

    & > img {
      transform: scale(1.22);
    }
  }
}

.footer .contacts-img-link {
  flex-basis: calc((100% - rem(50)) / 6);

  @include media(sm) {
    flex-basis: calc((100% - rem(100)) / 6);
  }
}

.contacts .contacts-img-link {
  display: block;
  width: rem(50);
  height: rem(50);
}
