.menu-container {
  transform: translateX(100%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background-color: #ffffff;
  padding: 50px;
  transition: transform 400ms ease-in;
}

.menu-container.is-open {
  transform: translateX(0);
}
